<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/Vue/Css/style.css">
</head>
<body><nav>    
    <ul>
        <li><a href="../Page/FestivalAdmin.php">Festival</a></li>
        <li><a href="../Page/UtilisateurAdmin.php">Utilisateur</a></li>
        <li><a href="../Page/TrajetAdmin.php">Trajet</a></li>
        <li class="dropdown">
          <a>Autre Table</a>
          <div class="dropdown-content">
            <a href="../Page/CovoitAdmin.php">Covoit</a>
            <a href="../Page/PresenceAdmin.php">Présence</a>
          </div>
        </li>
      </ul>
      <div class="logo">
      <strong>F.V.</strong>
      <span>Company</span>
    </div>
      <ul>
        <li data-href="../Page/principalAdmin.php" onclick="redirectTo(this)" style="cursor: pointer;">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24px">
            <path d="M19 21.0001H5C4.44772 21.0001 4 20.5524 4 20.0001V11.0001L1 11.0001L11.3273 1.61162C11.7087 1.26488 12.2913 1.26488 12.6727 1.61162L23 11.0001L20 11.0001V20.0001C20 20.5524 19.5523 21.0001 19 21.0001ZM13 19.0001H18V9.15757L12 3.70302L6 9.15757V19.0001H11V13.0001H13V19.0001Z"></path>
          </svg>
        </li>
        <li class="dropdown" style="position: relative;">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24px">
            <path d="M4 22C4 17.5817 7.58172 14 12 14C16.4183 14 20 17.5817 20 22H4ZM13 16.083V20H17.6586C16.9423 17.9735 15.1684 16.4467 13 16.083ZM11 20V16.083C8.83165 16.4467 7.05766 17.9735 6.34141 20H11ZM12 13C8.685 13 6 10.315 6 7C6 3.685 8.685 1 12 1C15.315 1 18 3.685 18 7C18 10.315 15.315 13 12 13ZM12 11C14.2104 11 16 9.21043 16 7C16 4.78957 14.2104 3 12 3C9.78957 3 8 4.78957 8 7C8 9.21043 9.78957 11 12 11Z"></path>
          </svg>
          <div class="dropdown-content">
            <a href="../Page/Profil.php">Votre profil</a>
            <a href="../Page/Deconnexion.php">Déconnexion</a>
          </div>
        </li>
      </ul>
  </nav>
</body>
<script>function toggleSidebar() {
  var sidebar = document.querySelector('.sidebar');
  sidebar.classList.toggle('collapsed');
}
function redirectTo(element) {
      var url = element.getAttribute("data-href");
      window.location.href = url;
    }
</script>
</html>
